h1 {
  color: #989c9e;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

h2 {
  color: grey;
}

body {
  margin: 10px;
  font-family: 'Rubik', sans-serif;
}

/* INDEX ***************************/

.card-title {
  color: #989c9e;
  font-size: 25px;
}

.btn-primary {
  color: #989c9e;
  background-color: #FFB9BD;
  border-color: #FFB9BD;

}

.btn-primary:hover {
  color: #fff;
  background-color: #989c9e;
  border-color: #989c9e;
}

.card{
  border: none;
}

.card-text-index {
  color: grey;
}

/* CLIENTES ***************************/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.testimonio {
  font-size: 25px;
  color: grey;
}



.bajadaCarouselTestimonio {
  color: #4F9150;
  font-size: 20px;
  font-style: bold;
}

/* SERVICIOS ***************************/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID DE 2 */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

.animate__animated {
  border-radius: 10px;
}

/*  ANCHO COMPLETO EN 480 PX*/

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

/* NOSOTROS ***************************/

.somos{
  font-size: 28px;
  color: grey;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.sobreLista {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 400px 400px;
  margin-bottom: 10px;
}

.sobreLista p {
  font-size: 16px;
  justify-content: center;
  align-content: center;
  color: grey;
  margin-left: 20px;
}




/* CONTACTO ***************************/

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #FFB9BD;
  border-radius: 4px;
  background-color: #FFB9BD;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
  display: block;
  height: 14rem;
  /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
  border: 1px solid #FFB9BD;
  outline: none;
  /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
  border: 1px solid #FFB9BD;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.25rem;
  border: 1px solid #FFB9BD;
  border-radius: 4px;
  background-color: #FFB9BD;
  color: #989c9e;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  border: 1px solid #989c9e;
  background-color: #989c9e;
  color: white;
}

.villaUrquiza {
  height: 400px;
  width: 100%;
}

.sectionVillaUrquiza {
  height: 480px;
}

.imagenContacto {
  width: 100%;
}